.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #010101;
    padding: 30px;
}
.emptyList {
    margin-top: 100px;
    padding: 40px;
    border: 1px solid #000000;
    border-radius: 20px;
    font-weight: 600;
    background-color: #F4F4F4;
}